@model IEnumerable<Huesped>

@{
    ViewData["Title"] = "Huespedes";
}

@functions {
    public string FormatoFecha(DateTime? fecha)
    {
        return fecha?.ToString("dd-MM-yyyy");
    }
}




<style>

    .wrapper-clientes {
        margin: 35px;
        background-color: rgba(255, 255, 255, 1);
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        padding: 20px;
    }

    table {
        border-collapse: collapse;
        width: 100%;
        border: 1px solid #ddd;
    }

    th, td {
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    th {
        background-color: #333;
        color: white;
    }

    .mr-icon {
        margin-right: 4px;
    }

    .modal-content-config {
        position: relative;
        display: flex;
        flex-direction: column;
        pointer-events: auto;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 0.3rem;
        outline: 0;
        width: 100vh;
    }

    .modal-content-config-delete {
        position: relative;
        display: flex;
        flex-direction: column;
        pointer-events: auto;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 0.3rem;
        outline: 0;
    }

</style>

<body class="fondo">
    <div class="wrapper-clientes">
        <h1>Huesped</h1>
        <hr />
        <div>
            <a href="@Url.Action("AddGuest", "Huesped", null)" class="btn btn-primary mb-3">
                <span class="btn-label"><i class="fa-solid fa-circle-plus mr-icon"></i></span>Agregar
            </a>
            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Genero</th>
                        <th>Telefono</th>
                        <th>Telefono emergencia</th>
                        <th>Cuarto</th>
                        <th>Fecha de salida prev.</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var hues in Model)
                        {

                            <tr>
                                <td>@hues.Nombre</td>
                                <td>@hues.Apellido</td>
                                <td>@hues.IdGeneroNavigation.Genero1</td>
                                <td>@hues.Telefono</td>
                                <td>@hues.TelefonoEmergencia</td>
                                @if (hues.IdCuartoNavigation == null)
                                {
                                    <td>N/A</td>
                                }
                                else
                                {
                                    <td>@hues.IdCuartoNavigation.NumeroCuarto</td>
                                }
                                @if (hues.FechaSalidaPrev == null)
                                {
                                    <td>N/A</td>
                                }
                                else
                                {

                                    <td>@FormatoFecha(hues.FechaSalidaPrev)</td>
                                }


                                <td>
                                    @using (Html.BeginForm("Delete", "Huesped", FormMethod.Post, new { @class = "custom-form" }))
                                    {

                                        <button type="button" class="btn btn-labeled btn-success" data-bs-toggle="modal" data-bs-target="#seeModal-@hues.IdHuesped">
                                            <span class="btn-label"><i class="fa-solid fa-eye mr-icon" style="color: #ffffff;"></i></span>Ver
                                        </button>

                                        <a href="@Url.Action("EditGuest", "Huesped", new {id = hues.IdHuesped})" class="btn btn-labeled btn-primary">
                                            <span class="btn-label"><i class="fa-solid fa-pen-to-square mr-icon"></i></span>Editar
                                        </a>

                                        if (hues.IdCuartoNavigation == null)
                                        {
                                            <button type="button" class="btn btn-labeled btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal-@hues.IdHuesped">
                                                <span class="btn-label"><i class="fa fa-trash mr-icon"></i></span>Eliminar
                                            </button>
                                        }




                                        <div class="modal fade" id="seeModal-@hues.IdHuesped" tabindex="-1" aria-labelledby="seeModalLabel-@hues.IdHuesped" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered modal-xl d-flex align-items-center justify-content-center">
                                                <div class="modal-content-config my-custom-background rounded">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="seeModalLabel-@hues.IdHuesped"><strong>Informacion del usuario </strong></h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body mb-3">
                                                        <div class="row">
                                                            <div class="col-6">
                                                                <div class="col-sm-3">
                                                                    <strong>@Html.DisplayNameFor(model => model.Nombre)</strong>
                                                                </div>
                                                                <div class="col-sm-9">
                                                                    <p>@hues.Nombre</p>
                                                                </div>
                                                                <div class="col-sm-3">
                                                                    <strong>@Html.DisplayNameFor(model => model.Apellido)</strong>
                                                                </div>
                                                                <div class="col-sm-9">
                                                                    <p>@hues.Apellido</p>
                                                                </div>
                                                                <div class="col-sm-3">
                                                                    <strong>@Html.DisplayNameFor(model => model.IdGeneroNavigation)</strong>
                                                                </div>
                                                                <div class="col-sm-9">
                                                                    <p>@hues.IdGeneroNavigation.Genero1</p>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <strong>@Html.DisplayNameFor(model => model.MotivoEstancia)</strong>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <p>@hues.MotivoEstancia</p>
                                                                </div>

                                                                <div class="col-sm-3">
                                                                    <strong>@Html.DisplayNameFor(model => model.Telefono)</strong>
                                                                </div>
                                                                <div class="col-sm-9">
                                                                    <p>@hues.Telefono</p>
                                                                </div>

                                                                <div class="col-sm-6">
                                                                    <strong>@Html.DisplayNameFor(model => model.TelefonoEmergencia)</strong>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <p>@hues.TelefonoEmergencia/p>
                                                                </div>
                                                                <div class="col-sm-3">
                                                                    <strong>@Html.DisplayNameFor(model => model.Correo)</strong>
                                                                </div>
                                                                <div class="col-sm-9">
                                                                    <p>@hues.Correo</p>
                                                                </div>

                                                            </div>
                                                            <div class="col-6">

                                                                <div class="col-sm-3">
                                                                    <strong>@Html.DisplayNameFor(model => model.PagoInicial)</strong>
                                                                </div>
                                                                <div class="col-sm-9">
                                                                    <p>@hues.PagoInicial</p>
                                                                </div>
                                                                <div class="col-sm-3">
                                                                    <strong>@Html.DisplayNameFor(model => model.IdCasaNavigation)</strong>
                                                                </div>
                                                                <div class="col-sm-9">
                                                                    @if (@hues.IdCasaNavigation != null)
                                                                    {
                                                                        <p>@hues.IdCasaNavigation.Nombre</p>
                                                                    }
                                                                    else
                                                                    {
                                                                        <p>N/A</p>
                                                                    }
                                                                </div>

                                                                <div class="col-sm-3">
                                                                    <strong>@Html.DisplayNameFor(model => model.IdCuartoNavigation)</strong>
                                                                </div>
                                                                <div class="col-sm-9">
                                                                    @if (@hues.IdCuartoNavigation != null)
                                                                    {
                                                                        <p>@hues.IdCuartoNavigation.NumeroCuarto</p>
                                                                    }
                                                                    else
                                                                    {
                                                                        <p>N/A</p>
                                                                    }
                                                                </div>
                                                                <div class="col-sm-3">
                                                                    <strong>@Html.DisplayNameFor(model => model.Alacena)</strong>
                                                                </div>
                                                                <div class="col-sm-9">
                                                                    <p>@hues.Alacena</p>

                                                                </div>
                                                                <div class="col-sm-4">
                                                                    <strong>@Html.DisplayNameFor(model => model.Refrigerador)</strong>
                                                                </div>
                                                                <div class="col-sm-8">
                                                                    <p>@hues.Refrigerador</p>
                                                                </div>

                                                                <div class="col-sm-3">
                                                                    <strong>@Html.DisplayNameFor(model => model.FechaAlta)</strong>
                                                                </div>
                                                                <div class="col-sm-9">
                                                                    <p>@FormatoFecha(hues.FechaAlta)</p>
                                                                </div>

                                                                <div class="col-sm-6">
                                                                    <strong>@Html.DisplayNameFor(model => model.FechaSalidaPrev)</strong>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    @if (@hues.FechaSalidaPrev != null)
                                                                    {
                                                                        <p>@FormatoFecha(hues.FechaSalidaPrev)</p>
                                                                    }
                                                                    else
                                                                    {
                                                                        <p>N/A</p>
                                                                    }
                                                                </div>
                                                            </div>



                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary mouse" data-bs-dismiss="modal">Cerrar</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="modal fade" id="deleteModal-@hues.IdHuesped" tabindex="-1" aria-labelledby="deleteModalLabel-@hues.IdHuesped" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered modal-xl d-flex align-items-center justify-content-center">
                                                <div class="modal-content-config-delete my-custom-background rounded">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="deleteModalLabel-@hues.IdHuesped"><strong>Eliminar Usuario</strong></h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body mb-3">
                                                        <h5>¿Estás seguro que quieres eliminar la casa <strong>@hues.Nombre</strong>?</h5>
                                                        <p>Se elinara el huesped y todas sus asignaciones</p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary mouse" data-bs-dismiss="modal">Descartar</button>
                                                        <input type="hidden" name="id" value="@hues.IdHuesped" />
                                                        <button type="submit" class="btn btn-primary mouse">Eliminar</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    }

                                </td>
                            </tr>
                        }

                    }

                </tbody>
            </table>
        </div>


    </div>

</body>